@tailwind base;
@tailwind components;
@tailwind utilities;

.lottie-hero svg {
  height: 550px !important;
  margin-top: -10rem !important;
}

@media screen and (max-width: 768px) {
  .lottie-hero svg {
    height: 300px !important;
  }
}
